TWILIO_ACCOUNT_SID= AC093ac18f2229f6a892278b71da239944
TWILIO_API_KEY= SK9cebfab3d4fe3dd98a9831f5488f14ef
TWILIO_API_SECRET= 886Y9lywKCx3GhU0BIp4U9pum6J2oIu9

APP_HASH=

CLIENT_SECRET=

VERIFICATION_SERVICE_SID=

COUNTRY_CODE=